Practica1SWII/files/xsd/recetario.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Recetario">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="nombre"/>
        <xs:element name="recetas">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="recetas" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="nombre"/>
                    <xs:element name="ingrediente">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="ingrediente" maxOccurs="unbounded" minOccurs="0"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:float" name="precio"/>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="dificultad" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:float" name="precio"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>

